:root {
    --img-max: 180px;
    --loading-font: 5rem;
}

.video-item {
    display: flex !important; 
    align-items: center !important;
    cursor: pointer;
}

.video-item.item img {
    max-width: var(--img-max);
}

.loading {
    font-size: var(--loading-font);
    margin-top: 15vh;
}